[access]
	inheritFrom = All-Projects
[access "refs/*"]
	owner = group user/Slimpro
[access "refs/for/refs/*"]
	read = group user/Slimpro
	push = group user/Slimpro
	label-Code-Review = -2..+2 group user/Slimpro
	label-Verified = -1..+1 group user/Slimpro
	rebase = group user/Slimpro
	removeReviewer = group user/Slimpro
	submit = group user/Slimpro
[access "refs/heads/*"]
	read = group user/Slimpro
	create = group user/Slimpro
	push = +force group user/Slimpro
	pushMerge = group user/Slimpro
[access "refs/tags/*"]
	push = +force group user/Slimpro
	pushTag = group user/Slimpro
	pushSignedTag = group user/Slimpro
